body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: burlywood;
  text-align: center;
  font-size: 25px;

}
body h1{
  color: rgb(81, 255, 0);
  font-family: 'Times New Roman', Times, serif;
}

.text-wrap {
  word-wrap: break-word;
}

.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}
